<!Doctype html>
<html>
    <head>

    </head>
    <body>
        Please forward this event to all interested students.

           <b>Greetings from CodePark!</b>
           <br><br>
           <i>Have you ever wanted to be a part of an event where all you have to do is code?<br>
            Have you felt the need to test and showcase your coding skills? Or have you ever wanted to explore your limits when it comes to ragging your brain and making a program run?<br>
            If yes, then we are here to give you a platform to fulfill all your dreams.</i>
           <br><br>
           CodePark brings to you <b>CodVar - a national level Code-A-Thon</b> being conducted in association with SCOPE school of Vellore Institute of Technology, Vellore.
           This event is not just for the ones who have devoted their life to C, C++, Python and Java but is also for the ones who just wrote their first "Hello, World!" program.
           <br><br>
           <b>CodeVar</b> aims to introduce the concept of Open Coding which is aimed at encouraging programmers of different levels to participate, learn and win. Each of you will be provided with 1000+ questions of different difficulty levels(Easy, Medium, Hard).
           You need to solve as many questions as you can within the 24-hour period and find your way into the top 240 participants from all over the country.
           And this is just the first round! The second round is to be conducted at VIT, Vellore and it is going involve not just coding but a number of fun activities to keep you engaged.
           <br><br>
           <b>Coming down to the perks of participating in CodeVar:</b>
           <ol>
           <li> Prize money worth 1,00,000+</li>
           <li>First-ever national level Code-A-Thon by any university</li>
          <li>A new concept of Open Coding</li>
           <li> Internship opportunity from various MNCs and other industries</li> 
           <li>Certificate to top 240 participants</li> 
          <li> No registration fee</li>
           <li> National Level Exposure</li>
           </ol>
           <br><br>
           If you find yourself driven to any one of these perks, now is the time to register!
           <br><br>
           <b>Register at:</b> https://www.codepark.in/events/codevar  
           <br><br>
           If you are facing any issue, write to us at support@codepark.in 
           <br><br>
           See you on the battlegrounds of CodeVar!
           <br><br>
           Regards
           <br><br>
           Aman Kumar<br>
           Head of Marketing, CodePark
    </body>
</html>